:root {
  --primaryColor: black;
  --secondaryColor: red;
  --backgroundColor: rgb(34, 32, 32);
  --textPrimaryColor: white;
  --dangerColor: red;
  --warningColor: rgb(170, 170, 5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
}

.App {
  text-align: center;
  color: var(--textPrimaryColor);
}

.absCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}

.absCenterX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0%;
}

.vocalBackground {
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
}

button {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.bigButton {
  padding: 20px;
  font-size: 16px;
  border-radius: 10%;
  margin: 4px 2px;
}

.playControls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5%;
  z-index: 600;
}

.leftSide {
  position: absolute;
  left: 20px;
  z-index: 600;
}

.firstTop {
  top: 20px;
}

.secondTop {
  top: 120px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  padding: 10px;
  background-color: var(--backgroundColor);
  color: var(--textPrimaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}
li:hover {
  filter: brightness(2);
}

.dangerColor {
  color: var(--dangerColor);
}

.warningColor {
  color: var(--warningColor);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  font-size: 14px;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
}

.noYt {
  display: inline-block;
  position: relative;
}

.centerX {
  display: flex;
  justify-content: center;
}

.col3 {
  width: 32%;
  text-align: start;
}

.songSelectContainer {
  width: 70%;
}

.relative {
  position: relative;
}

.canvasContainer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
}

input {
  padding: 10px;
  height: 20px;
  border: 1px solid #ccc;
  width: 300px;
}
input:focus {
  outline: none;
  border: 1px solid red;
}

.inputButton {
  height: 44px;
  border-radius: 0 10px 10px 0px;
}

.allRounded {
  border-radius: 10px;
}

.twoRounded {
  border-radius: 10px 0px 0px 10px;
}

.invisibleButton {
  background: none;
}

.searchOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
