:root {
  --primaryColor: black;
  --secondaryColor: red;
  --backgroundColor: rgb(34, 32, 32);
  --textPrimaryColor: white;
  --dangerColor: red;
  --warningColor: rgb(170, 170, 5);
  --player1Color: rgb(255, 0, 0);
  --player2Color: rgb(9, 9, 187);
  --player3Color: rgb(13, 170, 13);
  --player4Color: rgb(211, 149, 15);
}

html,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
  height: 100%;
}

.App {
  text-align: center;
  color: var(--textPrimaryColor);
  height: 100%;
}

.absCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.absCenterY {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}

.absCenterX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0%;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}

.fullSizeYtPlayer {
  height: 100vh;
}

.vocalBackground {
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
}

button {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.bigButton {
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
}

.skipButton {
  border-radius: 10px;
  margin: 2px;
}

.playControls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5%;
  z-index: 600;
}

.leftSide {
  position: absolute;
  left: 20px;
  z-index: 600;
}

.firstTop {
  top: 20px;
}

.secondTop {
  top: 120px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  padding: 10px;
  background-color: var(--backgroundColor);
  color: var(--textPrimaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}

.songModal {
  display: flex;
  flex-direction: row;
}

.songModalInfo {
  padding: 0px 20px;
  margin-top: 5px;
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  filter: brightness(0.7);
}

.songListItem {
  margin: 10px;
  background-color: rgb(53, 49, 49);
  border-radius: 20px;
  height: 100px;
  position: relative;
  padding: 0px;
}

.songInfo {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 100px;
  text-align: left;
}

.songInfoControls {
  visibility: hidden;
  position: absolute;
  top: 25%;
  right: 10%;
  z-index: 100;
}
.songInfo:hover .songInfoControls {
  visibility: visible;
}

.songInfoButton {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.songInfoButton:hover {
  filter: brightness(0.5);
}

.songInfoButtonIcon {
  margin-top: 7px;
}

.songName {
  width: 15vw;
}

.songIcon {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.coverPicture {
  position: absolute;
  left: 0;
  border-radius: 20px 0px 0px 20px;
}

.songListRow {
  display: flex;
  flex-direction: row;
}

.songListItem:hover {
  background-color: rgb(66, 63, 63);
}

.dangerColor {
  color: var(--dangerColor);
}

.warningColor {
  color: var(--warningColor);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  font-size: 14px;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
}

.noYt {
  display: inline-block;
  position: relative;
}

.centerX {
  display: flex;
  justify-content: center;
}

.songSelectContainer {
  width: 70%;
}

.relative {
  position: relative;
}

.canvasContainer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
}

input {
  padding: 10px;
  height: 20px;
  border: 1px solid #ccc;
  width: 300px;
}
input:focus {
  outline: none;
  border: 1px solid red;
}

.inputButton {
  height: 44px;
  border-radius: 0 10px 10px 0px;
}

.allRounded {
  border-radius: 10px;
}

.twoRounded {
  border-radius: 10px 0px 0px 10px;
}

.invisibleButton {
  background: none;
}

.searchOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.percentageScore {
  animation: fadeOutAnimation ease 3s forwards;
}

.videoPauseLogo {
  animation: fadeOutAnimation ease 1s forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

.scoreBox {
  position: absolute;
  right: 10%;
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  /*text-shadow: gray 0px 0px 10px;*/
}

.scrollDiv {
  border-radius: 5px;
}

.pauseBackground {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 450;
}

.syncControls {
  z-index: 600;
  display: flex;
  flex-direction: column;
  top: 2%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropwDown {
  margin: 5px 0px;
  height: 30px;
}

select {
  height: 30px;
}

.margins {
  margin: 20px;
}

.settingsPage {
  display: flex;
  flex-direction: row;
}

.settingsButton {
  position: absolute;
  z-index: 1000;
  top: 5%;
  right: 5%;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgba(46, 42, 42, 0.9);
  z-index: 800;
  max-width: 70%;
  margin-bottom: 10%;
  border-radius: 20px;
  padding: 50px;
}

.modalCloseDiv {
  position: absolute;
  width: 100%;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--secondaryColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
